<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/head" />
    <title>List of customers</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-5">
                    <h1>List of customers</h1>
                </div>
                <div class="col-sm-7">
                    <a href="/customers/create" class="btn btn-outline-light">
                        <i class="fas fa-plus"></i>
                        <span>Add New Customer</span>
                    </a>
                    <a href="/transfers" class="btn btn-outline-light">
                        <i class="fas fa-history"></i>
                        <span>Transfer money Information</span>
                    </a>
                </div>
            </div>
        </header>

        <div class="content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Balance</th>
                        <th colspan="5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="item : ${customers}">
                        <tr>
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.fullName}"></td>
                            <td th:text="${item.email}"></td>
                            <td class="text-center" th:text="${item.phone}"></td>
                            <td th:text="${item.address}"></td>
                            <td class="text-end num-space" th:text="${item.balance}"></td>
                            <td class="text-center">
                                <a class="btn btn-outline-secondary" title="" data-toggle="tooltip" th:href="${'/customers/edit/' + item.id}" data-bs-original-title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-success" title="" data-toggle="tooltip" th:href="${'/customers/deposit/' + item.id}" data-bs-original-title="Deposit">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-warning" title="" data-toggle="tooltip" th:href="@{/customers/withdraw/__${item.id}__}" data-bs-original-title="Withdraw">
                                    <i class="fas fa-minus"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-primary" title="" data-toggle="tooltip" th:href="@{/customers/transfer/__${item.id}__}" data-bs-original-title="Transfer">
                                    <i class="fas fa-exchange-alt"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-outline-danger" title="" data-toggle="tooltip" th:href="@{/customers/delete/__${item.id}__}" data-bs-original-title="Suspended">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>

                </tbody>
            </table>
        </div>
    </div>

    <th:block th:replace="layout/script" />

</body>
</html>